.article header {
    text-align: left;
}

article header h1 img {
    position: absolute;
    width: calc(((100% - 50rem) / 2));
    max-width: 480px;
    left: 0;
    top: 45px;
}    

.homepage .list-of-titles {
    display: none;
}

nav.tocopen span {
    display: none;
}

nav.tocopen:before {
  content: "☰";
}
